@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 31 31 31; */
    --background: 30 30 30;
    --foreground: 245 245 240;

    --card: 30 30 30;
    /* --card: 38 38 38; */
    --card-foreground: var(--foreground);

    --popover: 38 38 38;
    /* --popover: 38 38 38; */
    --popover-foreground: var(--foreground);

    --primary: 35 131 226;
    /* --primary: 234 88 12; */
    --primary-foreground: var(--foreground);

    /* --secondary: 32 32 32; */
    --secondary: 38 38 38;
    --secondary-foreground: var(--foreground);

    /* --muted: 32 32 32; */
    --muted: 45 45 45;
    --muted-foreground: 127 127 127;
    /* --muted-foreground: 58 58 58; */
    /* --muted-foreground: 115 115 115; */

    --input: var(--secondary);

    --radius: 0.5rem;

    --destructive: 237 66 69;
    --success: 36 128 70;
  }
}

body {
  /* font-feature-settings: 'ss05'; */
}

@layer components {
  .horizontal {
    @apply flex flex-row;
  }

  .vertical {
    @apply flex flex-col;
  }

  .horizontal.center-v {
    @apply items-center;
  }

  .horizontal.center-h {
    @apply justify-center;
  }

  .horizontal.center {
    @apply items-center justify-center;
  }

  .vertical.center-v {
    @apply justify-center;
  }

  .vertical.center-h {
    @apply items-center;
  }

  .vertical.center {
    @apply items-center justify-center;
  }

  .space-between {
    @apply justify-between;
  }
}

@layer base {
  * {
    @apply border-muted-foreground;
  }

  html {
    @apply size-full flex-1 scroll-smooth;
  }
  body {
    @apply bg-background text-primary;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .ProseMirror .is-editor-empty:nth-child(2)::before {
  content: attr(data-placeholder);
  float: left;
  pointer-events: none;
  height: 0;
} */

.ProseMirror .is-editor-empty:first-child {
  --conn: attr(data-placeholder);
}

.ProseMirror .is-editor-empty:first-child::before {
  float: left;
  pointer-events: none;
  color: aliceblue;
  --conn: attr(data-placeholder);
}

.ProseMirror .is-editor-empty:nth-child(2)::before {
  --conn: attr(data-placeholder);
  /* content: var(--tw-content); */
  pointer-events: none;
  display: inline-block;
  color: aliceblue;
}
